@each $name, $color in $color-palette {
  .\--color-#{$name} {
    color: $color;
  }
}

.\--text-left {
  text-align: left;
}

.\--text-center {
  text-align: center;
}

.\--text-right {
  text-align: right;
}

.\--text-uppercase {
  text-transform: uppercase;
}

.\--text-italic {
  font-style: italic;
}

.\--text-light {
  font-weight: 300;
}

.\--text-underline{
  text-decoration: underline;
}

.\--text-regular {
  font-weight: 400;
}

.\--text-bold {
  font-weight: 700;
}

[class*="heading-"]{
  &.\--text-regular{
    font-weight: 400;
  }
}
