@each $name, $color in $color-palette {
  .\--color-#{$name} {
    color: $color;
  }
}

.\--text-left {
  text-align: left;
}

.\--text-center {
  text-align: center;
}

.\--text-right {
  text-align: right;
}

.\--text-uppercase {
  text-transform: uppercase;
}

.\--text-light {
  font-weight: 300;
}

.\--text-italic {
  font-style: italic;
}
