.image-gradient-slider{
  background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.16) 100%), linear-gradient(209.53deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 100%);
}

.image-gradient-editorial{
  background: linear-gradient(189.99deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
}

.image-gradient-menu{
  background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%);
}
