.o-btn {
  @include reset-button-style();

  letter-spacing: 1px;
  transition:
          background-color 0.15s ease-in-out,
          border-color 0.15s ease-in-out,
          color 0.15s ease-in-out;

  &.o-btn--disabled{
    cursor: default;
    opacity: 1;
  }
}
