.SafiloForm {
  .input-group {
    margin-bottom: 1rem;
    position: relative;
  }

  .form-field {
    border: 2px solid #f0f0f0;
    @include font-size-line-weight(16,40,500);
    padding: 0 .8rem;
    width: 100%;
  }

  .error-message {
    bottom: 0;
    color: red;
    @include font-size-line-weight(12, 16, 400);
    position: absolute;
    transform: translateY(100%);
  }

  .o-field__message {
    color: #858585;
    @include font-size-line-weight(14, 22, 400);
  }

  .\--submit {
    background-color: #000;
    border:0;
    display: block;
    .o-btn__wrapper {
      background-color: #000;
      color: #fff;
      @include font-size-line-weight(16, 40, 400);
      padding: 0 1rem;
      text-transform: uppercase;
    }
    &.\--center {
        margin: 0 auto;
    }
    &.\--full-width {
        width: 100%;
    }
  }
}


$field-height: 1.2rem;
$label-height: 0.8rem;
$padding-bottom: 0.4rem;

.input-group.Input,
.input-group.Select{
  .control {
    width: 100%;

    > .o-field {
      @include flexing(column);
      justify-content: flex-end;
      min-height: calc(#{$field-height} + #{$label-height} + #{$padding-bottom});
      position: relative;
    }
  }
}

.input-group.Input {
  label{
    &:not(.select-label){
      bottom: $padding-bottom;
      @include font-size-line-weight(16,16,400);
      position: absolute;
      top: 0;
      transform: translate3d(0, calc(100% - #{$padding-bottom / 2} - #{$label-height}),0);
      transition: all 0.15s ease-in-out;
      z-index: 1;
    }
  }
}

.input-group{
  .control{
    width: 100%;
    > .o-field{
      width: 100%;
      &.active{
        label{
          @include font-size-line-weight(12,16,400);
          transform: translate3d(0,0,0);
        }
      }
      &.disabled{
        .o-input,
        .o-sel,
        .o-chk__check{
          border-color: rgba($grey, 0.64);;
          color: rgba($grey, 0.64);
          opacity: 1;
        }
      }
    }

    &.invalid{
      label,
      .o-sel{
        color: $secondary;
      }

      .select-label + .form-field{
        .o-sel{
          color: $grey;
        }
      }
    }
  }
  label{
    color: $grey;
    @include font-size-line-weight(12,16,400);
    letter-spacing: 1px;
    pointer-events: none;
    margin-bottom: 0;
  }
  .error-message{;
    color: $secondary;
    @include font-size-line-weight(11,11,400);
    position: absolute;
  }
  .sub-message{
    color: $grey;
    @include font-size-line-weight(12,16,400);
    letter-spacing: 1px;
    max-width:12rem;
    padding-top: 1rem;
  }
}
