$root-font-size: 20;
$primary-font-family: "Open Sauce Sans", Helvetica, sans-serif;
$headline-font-family: "Open Sauce Sans Medium", Helvetica, sans-serif;

$white: #fff;
$black: #000;

$color-palette: (
);

$heading-font-weight: 500;
$heading-font-sizes: (
);

// name, font-size, line-height, letter-spacing, font-weight
// $text-color: $secondary-color;
$text-font-sizes: (
);

// $grid-gutter-width: .8rem;

// $grid-gutter-breakpoints: (
// );

// $grid-breakpoints: (
//   xs: 0,
//   sm: 375px,
//   md: 768px,
//   lg: 1024px,
//   xl: 1440px,
//   xxl: 1900px,
// );

// $spacings: (
//   sm: 4rem,
//   md: 6rem,
//   lg: 8rem,
//   xl: 10rem
// );
